extends ./layout/index

block contenido 
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7 
                 h1 #{pagina}
                 bloackquote ipsum dolor sit amet, consectetur adipiscing elit. Integer ut felis sed magna commodo porta. Aliquam placerat egestas elit, non tempus erat tincidunt non. Sed in eros auctor, tempus dolor ac, accumsan ipsum. Donec semper neque urna, ac tristique justo facilisis at. 

                 p imperdiet quis neque quis egestas. Duis vel facilisis lorem. Sed ac diam tempus, venenatis eros eu, mollis nisl. Curabitur non auctor ipsum. Donec congue diam quis nibh porta vulputate.

                 p aliquam enim id rhoncus mollis. Pellentesque feugiat pretium suscipit. Etiam nec diam a sem mattis elementum. Mauris mauris magna, elementum eu velit vel, sodales luctus ligula. Sed molestie, nibh sed porttitor eleifend, turpis justo laoreet ex, sit amet commodo mauris turpis ut arcu. Mauris nec semper libero, eu sodales leo. Integer ac dictum erat, et interdum nisi. In hac habitasse platea dictumst. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse placerat efficitur lacinia. Mauris eget sagittis mauris, sed aliquam erat. Cras auctor ipsum blandit, scelerisque ipsum non, imperdiet enim. Suspendisse porttitor luctus sapien nec semper.
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Asegura el cumplimiento de los diversos estándares de cumplimiento de normas internacionales y locales. Aumenta la productividad. Disminuye los gastos y aumenta la rentabilidad. Mejora la confianza de los trabajadores.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Asegura el cumplimiento de los diversos estándares de cumplimiento de normas internacionales y locales. Aumenta la productividad. Disminuye los gastos y aumenta la rentabilidad. Mejora la confianza de los trabajadores.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Asegura el cumplimiento de los diversos estándares de cumplimiento de normas internacionales y locales. Aumenta la productividad. Disminuye los gastos y aumenta la rentabilidad. Mejora la confianza de los trabajadores.




